.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-6);
  width: 100%;
}

@media (max-width: 80rem) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 48rem) {
  .grid {
    grid-template-columns: 1fr;
    gap: var(--space-5);
  }
}
